<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card">
                            <img src="https://hamleysgumlet.gumlet.io/product/492409691/300/492409691.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tricycle</h5>
                              <p class="card-text">Rs.5000/-</p>
                              <a href="/order" class="btn btn-primary">Purchase It</a>
                            </div>
                          </div>


                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <div class="card">
                                <img src="https://hamleysgumlet.gumlet.io/product/492407606/300/492407606.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Cycle</h5>
                                  <p class="card-text">Rs.4500/-</p>
                                  <a href="/order" class="btn btn-primary">Purchase It</a>
                                </div>
                              </div>

                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="card">
                                    <img src="https://hamleysgumlet.gumlet.io/product/491281952/300/491281952.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Audi TTRS</h5>
                                      <p class="card-text">Rs.35000/-</p>
                                      <a href="/order" class="btn btn-primary">Purchase It</a>
                                    </div>
                                  </div>



                                </div>
                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="card">
                                        <img src="https://hamleysgumlet.gumlet.io/product/491129350/300/491129350-1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Hamle Street</h5>
                                          <p class="card-text">Rs.3000/-</p>
                                          <a href="/order" class="btn btn-primary">Purchase It</a>
                                        </div>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
