<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="card">
                            <img src="https://hamleysgumlet.gumlet.io/product/491604123/300/491604123-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Disney Princess</h5>
                              <p class="card-text">Rs.500/-</p>
                              <a href="/order" class="btn btn-primary">Purchase It</a>
                            </div>
                          </div>

                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <div class="card">
                                <img src="https://hamleysgumlet.gumlet.io/product/492407649/300/492407649-1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Beauty Set</h5>
                                  <p class="card-text">Rs.800/-</p>
                                  <a href="/order" class="btn btn-primary">Purchase It</a>
                                </div>
                              </div>

                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="card">
                                    <img src="https://hamleysgumlet.gumlet.io/product/492407581/300/492407581.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Bloom Multicolor</h5>
                                      <p class="card-text">Rs.400/-</p>
                                      <a href="/order" class="btn btn-primary">Purchase It</a>
                                    </div>
                                  </div>

                                </div>
                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="card">
                                        <img src="https://hamleysgumlet.gumlet.io/product/492337018/300/492337018-1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Panda</h5>
                                          <p class="card-text">Rs.900/-</p>
                                          <a href="/order" class="btn btn-primary">Purchase It</a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                </div>
