<app-navbar></app-navbar>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/2022-07/44289962475_e5c5209506_b.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        A toy or plaything is an object that is used primarily for providing entertainment. Simple examples are blocks, games, and dolls. Toys are often designed for use by children, although many are designed specifically for adults and pets. Toys can provide utilitarian benefits, including physical exercise, cultural awareness, or academic education. Additionally, utilitarian objects, especially those which are no longer needed for their original purpose, can be used as toys.
</div>


<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
The term "toy" can also be used to refer to utilitarian objects purchased for enjoyment rather than need, or for expensive necessities for which a large fraction of the cost represents its ability to provide enjoyment to the owner, such as luxury cars, high-end motorcycles, gaming computers, and flagship smartphones.

Playin with toys can be an enjoyable way of training young children for life experiences.Different materials like wood, clay, paper, and plastic are used to make toys. 




</div>
