<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name</label>
                    <input type="text" placeholder="Enter Your Name" class="form-control">


        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Address</label>
<input type="text" placeholder="Enter your Address" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">District</label>

<select name="select" id="Select">
<option value="Idukki">Idukki</option>
<option value="Kozhikod">Kozhikod</option>
<option value="Kannur">Kannur</option>
<option value="Ernakulam">Ernakulam</option>
<option value="Palakad">Palakad</option>
<option value="Pathanamthitta">Pathanamthitta</option>
<option value="Trissur">Trissur</option>
<option value="Trivandrum">Trivandrum</option>
</select>


        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Pincode</label>
<input type="text" placeholder="Enter your Pincode" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Delivery Address</label>
<input type="text" placeholder="Enter your delivery address" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Mobile Number</label>
<input type="text" placeholder="Enter your mobile number" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<label for="" class="form-label">Pickupdate</label>
<input type="date" name="" id="" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Quantities</label>
<input type="number" placeholder="Enter the quantities required" class="form-control">

        </div>
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<a href="/payment"><button class="btn btn-danger">Make Payment</button></a>
        
        </div>
        
    

        </div>
    </div>
  </div>


