<app-navbar></app-navbar>
<p><p><p><div class="card" style="width: 18rem;">
        
    <div class="card-body">
      <h5 class="card-title">Call Us On......</h5>
      <p class="card-text">If any help needed, call us on </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Address: Cutie Pie Shop, Second Street,Ernakulam </li>
      <li class="list-group-item">Email: cutiepie@gmail.com</li>
      <li class="list-group-item">Ph n0: +91 7306429508</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Call Us</a>
      <a href="#" class="card-link">Mail Us</a>
    </div>
  </div>
  
 