<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="container">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://ae01.alicdn.com/kf/HTB17YrTJFXXXXciXXXXq6xXFXXXf/220205981/HTB17YrTJFXXXXciXXXXq6xXFXXXf.jpg?size=92627&height=640&width=960&hash=7f216bb8fe24f608019bb0a3ae715ecc" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Teddy Bear</h5>
                              <p class="card-text">Rs.300/-</p>
                              <a href="/order" class="btn btn-primary">Purchase It</a>
                            </div>
                          </div>


                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="card">
                                <img src="https://c1.wallpaperflare.com/preview/167/843/656/minion-funny-toys-children.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Minions</h5>
                                  <p class="card-text">Rs.450/-</p>
                                  <a href="/order" class="btn btn-primary">Purchase It</a>
                                </div>
                              </div>

                            </div>
                            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="card">
                                    <img src="https://mutterntochter.files.wordpress.com/2017/01/kocokids1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Ride on Toys</h5>
                                      <p class="card-text">Rs.350/-</p>
                                      <a href="/order" class="btn btn-primary">Purchase It</a>
                                    </div>
                                  </div>

                                </div>
                                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="card">
                                        <img src="http://www.nurseryworld.co.uk/media/223507/adobestock_422242962.jpg?anchor=center&mode=crop&width=960&height=640&rnd=132878498860000000" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Toy Train</h5>
                                          <p class="card-text">Rs.200/-</p>
                                          <a href="/order" class="btn btn-primary">Purchase It</a>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                        <div class="card">
                                            <img src="https://i.etsystatic.com/13807628/r/il/844fce/2628360443/il_570xN.2628360443_fein.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">Wooden Toys</h5>
                                              <p class="card-text">Rs.600/-</p>
                                              <a href="/order" class="btn btn-primary">Purchase It</a>
                                            </div>
                                          </div>

                                        </div>
                                        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                            <div class="card">
                                                <img src="https://i1.wp.com/www.ammatoday.com/wp-content/uploads/2017/09/child-1864718_960_720.jpg?fit=960%2C640&ssl=1" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Plastic Toys</h5>
                                                  <p class="card-text">Rs.300/-</p>
                                                  <a href="/order" class="btn btn-primary">Purchase It</a>
                                                </div>
                                              </div>

                                            </div>
                                            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                                <div class="card">
                                                    <img src="https://www.breakingtales.com/wp-content/uploads/2020/10/FT-3.jpg" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                      <h5 class="card-title">New born baby toys</h5>
                                                      <p class="card-text">Rs.1000/-</p>
                                                      <a href="/order" class="btn btn-primary">Purchase It</a>
                                                    </div>
                                                  </div>


                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                                                    <div class="card">
                                                        <img src="https://leantoys.com/eng_pl_Kids-Toy-Guitar-Amplifier-Microphone-MP3-Input-922_1.jpg" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Guitar Sets</h5>
                                                          <p class="card-text">Rs.1200/-</p>
                                                          <a href="/order" class="btn btn-primary">Purchase It</a>
                                                        </div>
                                                      </div>
