<app-navbar></app-navbar>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  height=100px src="https://e7.pngegg.com/pngimages/117/675/png-clipart-visa-and-mastercard-ads-mastercard-credit-card-american-express-visa-debit-card-mastercard-text-payment.png" class="d-block w-100" alt="...">
      
  

        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Card Holder Name</label>
                            <input type="text" placeholder="Enter Your Name" class="form-control">
        
        
                </div>

                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Card Name</label>
                    <input type="text" placeholder="Enter your Card Name" class="form-control">
                    
                            </div>

                            <div class="col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-6 col-xxl-6">
                                <label for="" class="form-label">Card Number</label>
                                <input type="text" placeholder="Enter your Card Number" class="form-control">
                                
                                        </div>

                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-6 col-xxl-6">
                                            <label for="" class="form-label">CVV</label>
                                            <input type="text" placeholder="Enter your CVV Number" class="form-control">
                                            
                                                    </div>

                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                        <label for="" class="form-label">Card Expiry Date</label>
                                                        <input type="date" placeholder="Enter the Expiry Date" class="form-control">
                                                        
                                                                </div>


                                                                
                                                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                                        <a href="/payment"><button class="btn btn-danger">Pay Now</button></a>
                                                                
                                                                </div>
<a href="/gallery">Click here for more shopping</a>
  